body {
  margin: 0;
  background: #0D111C;
}

header {
  width: auto;
  height: 150px;
  background: #111926;
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-top: -10px;
}

.ham {
  color: #9FA2A9;
  font-size: 65px;
  margin: auto 50px auto 25px;
  border: none;
  background-color: #111926;
  font-weight: 650px;
}

.langganan {
  background-color: #1F80DF;
  font-family: Helvetica;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  padding: 12.5px;
  font-weight: bold;
  margin-left: 40px;
  letter-spacing: 0.5px;
}

.search {
  margin-left: auto;
  margin-right: 25px;
  width: 75px;
}

p {
  color: #D8D8DB;
}

.inline {
  display: inline;
}

.footer {
  font-family: Arial;
  font-size: 14px;
  margin-left: 25px;
}

.footer2 {
  font-family: Arial;
  font-size: 12.5px;
  margin-left: 25px;
}

.margin1 {
  padding-left: 25px;
}

.gray {
  color: #92969D;
  font-weight: bold;
}
