body {
  margin: 0;
  background: #0D111C;
}

header {
  width: auto;
  height: 150px;
  background: #111926;
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-top: -10px;
}

.ham {
  color: #9FA2A9;
  font-size: 65px;
  margin: auto 50px auto 25px;
  border: none;
  background-color: #111926;
  font-weight: 650px;
}

.langganan {
  background-color: #1F80DF;
  font-family: Helvetica;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  padding: 12.5px;
  font-weight: bold;
  margin-left: 40px;
  letter-spacing: 0.5px;
}

.search {
  margin-left: auto;
  margin-right: 25px;
  width: 75px;
}

.inline {
  display: inline;
}

span {
  margin-left: 20px;
}

.span1, pre {
  margin-left: 25px;
}

.grid {
  display: grid;
  grid: auto / 540px 150px 150px;
  gap: 26px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

pre {
  font-size: 12px;
  color: #B2B5BB;
  font-family: Arial;
  line-height: 1.6;
}

span {
  font-size: 14px;
  color: #B2B5BB;
  font-family: Arial;
}

.small {
  font-size: 14px;
  font-weight: bold;
  color: #999BA0;
}

.fa {
  font-size: 150px;
  width: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5px;
  margin-top: 5px;
}

.fa-facebook {
  background: #192133;
  color: #B0C2D2;
  margin-left: 25px;
}

.fa-twitter {
  background: #192133;
  color: #B0C2D2;
  margin-left: 1px;
}

.small2 {
  width: 130px;
}

.divdiv {
  background: #192133;
  border-radius: 5px;
}

.grid2 {
  display: grid;
  grid: 195px / repeat(20, 146.25px);
  gap: 10.2px;
  margin-left: 46px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 15px;
}

.mar {
  margin-left: -2px;
}

.pilihan {
  color: white;
  margin-left: 46px;
  font-size: 20px;
  font-weight: 680px;
}

footer {
  margin-top: 50px;
}

main {
  display: grid;
  grid: 450px / repeat(5, 725px);
  overflow-x: scroll;
  white-space: nowrap;
  gap: 10px;
}

.div1 {
  background: blue;
}
