body {
  margin: 0;
  background: #0D111C;
}

header {
  width: auto;
  height: 150px;
  background: #111926;
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-top: -10px;
}

.ham {
  color: #9FA2A9;
  font-size: 65px;
  margin: auto 50px auto 25px;
  border: none;
  background-color: #111926;
  font-weight: 650px;
}

.langganan {
  background-color: #1F80DF;
  font-family: Helvetica;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  padding: 12.5px;
  font-weight: bold;
  margin-left: 40px;
  letter-spacing: 0.5px;
}

.search {
  margin-left: auto;
  margin-right: 25px;
  width: 75px;
}

.inline {
  display: inline;
}

span, pre {
  margin-left: 13.5px;
  color: white;
  font-family: Arial;
}

.grid {
  display: grid;
  grid: auto / 600px 150px 1fr;
  gap: 50px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

pre {
  font-size: 13.5px;
}

span {
  font-size: 17.5px;
}

.fa {
  font-size: 60px;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;

}.fa-facebook {
  background: #192133;
  color: #B0C2D2;
  margin-left: 15px;
}

.fa-twitter {
  background: #192133;
  color: #B0C2D2;
  margin-left: 1px;
}
